.App {
  text-align: center;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu button, 
.menu input,
.quiz button,
.endMenu button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
  
}

button:focus{
  transform: scale(1.1);
  background-color: rgb(58, 151, 158);
}

.quiz {
  width: 600px;
  height: 500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.endMenu {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu,
.quiz,
.endMenu{
  color: white;
}

.question{
  background-color: rgb(216, 183, 139);
  width: 100px;
}

.question:focus{
  background-color: rgb(216, 183, 139);
}